{"swagger":"2.0","info":{"title":"Identity API Documentation","description":"","version":"1.0.0"},"host":"stg-api.ziniopro.com","basePath":"\/identity\/v1","schemes":["http"],"produces":["application\/json"],"paths":{"\/users":{"get":{"tags":["Users"],"summary":"List of all users","operationId":"getListOfUsers","consumes":["application\/json"],"parameters":[{"name":"email","in":"query","description":"Filter base on user email","type":"string"},{"name":"directory_id","in":"query","description":"Filter base on user directory id","type":"integer"},{"name":"project_id","in":"query","description":"Filter base on user project id","type":"integer"},{"name":"created_by","in":"query","description":"Filter base on user creator id","type":"integer"},{"name":"first_name","in":"query","description":"Filter base on user firstname","type":"string"},{"name":"last_name","in":"query","description":"Filter base on user lastname","type":"string"},{"name":"status","in":"query","description":"Filter base on user status","type":"integer"},{"name":"remote_identifier","in":"query","description":"Filter base on remote id","type":"string"},{"name":"created_at_from","in":"query","description":"Filter base on user created at","type":"string"},{"name":"created_at_to","in":"query","description":"Filter base on user created at","type":"string"},{"name":"limit","in":"query","description":"limit","type":"integer"},{"name":"offset","in":"query","description":"offset","type":"integer"},{"name":"order_by","in":"query","description":"Sort direction","type":"string","enum":["asc","desc"]},{"name":"sort_by","in":"query","description":"Sort field","type":"string","enum":["id","direcrory","email","firstname","lastname","password","timeLastLogin","timeCreated","timeUpdated","createdBy","status"]}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"}}},"post":{"tags":["Users"],"summary":"Create an user","description":"","operationId":"createUser","consumes":["application\/json"],"parameters":[{"name":"body","in":"body","description":"User object in JSON format","required":false,"schema":{"$ref":"#\/definitions\/User"}}],"responses":{"201":{"description":"OK"},"400":{"description":"Bad request"}}}},"\/users\/{user_id}":{"get":{"tags":["Users"],"summary":"Retrieve an user","description":"","operationId":"getUser","consumes":["application\/json"],"parameters":[{"name":"user_id","in":"path","description":"Id of the user","required":true,"type":"integer"}],"responses":{"200":{"description":"OK"},"404":{"description":"Resource not found"}}},"put":{"tags":["Users"],"summary":"Update an user","description":"","operationId":"updateUser","consumes":["application\/json"],"parameters":[{"name":"user_id","in":"path","description":"Id of the user","required":true,"type":"integer"},{"name":"body","in":"body","description":"User object in JSON format","required":false,"schema":{"$ref":"#\/definitions\/User"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"},"404":{"description":"Resource not found"}}},"delete":{"tags":["Users"],"summary":"Delete an user","description":"","operationId":"deleteUser","consumes":["application\/json"],"parameters":[{"name":"user_id","in":"path","description":"Id of the user","required":true,"type":"integer"}],"responses":{"200":{"description":"OK"},"404":{"description":"Resource not found"}}}},"\/authentication":{"post":{"tags":["Users"],"summary":"Authentication","description":"","operationId":"authentication","consumes":["application\/x-www-form-urlencoded"],"parameters":[{"name":"project_id","in":"formData","description":"Project id","required":true,"type":"integer"},{"name":"email","in":"formData","description":"Email","required":true,"type":"string"},{"name":"password","in":"formData","description":"Password","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"\/users\/change_email":{"put":{"tags":["Users"],"summary":"Change email of the user","description":"","operationId":"changeUserEmail","consumes":["application\/json"],"parameters":[{"name":"directory_id","in":"formData","description":"Directory id","required":true,"type":"integer"},{"name":"current_email","in":"formData","description":"Old email","required":true,"type":"string"},{"name":"new_email","in":"formData","description":"New email","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"}}}},"\/users\/change_password":{"put":{"tags":["Users"],"summary":"Change password of the user","description":"","operationId":"changeUserPassword","consumes":["application\/json"],"parameters":[{"name":"directory_id","in":"formData","description":"Directory id","required":true,"type":"integer"},{"name":"current_email","in":"formData","description":"Current email","required":true,"type":"string"},{"name":"current_password","in":"formData","description":"Current password","required":true,"type":"string"},{"name":"password","in":"formData","description":"New password","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"\/access_tokens":{"post":{"tags":["Users"],"summary":"Get the access token","description":"","operationId":"getAccessToken","consumes":["application\/json"],"parameters":[{"name":"project_id","in":"formData","description":"Project id","type":"integer"},{"name":"directory_id","in":"formData","description":"Directory id","type":"integer"},{"name":"identity_access_token","in":"formData","description":"Access token","required":true,"type":"string"},{"name":"refresh_token","in":"formData","description":"Refresh token","required":true,"type":"string"},{"name":"expiration_date_token","in":"formData","description":"Expiration date of the token","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"},"404":{"description":"Resource not found"}}}},"\/users\/{token}\/activate":{"get":{"tags":["Users"],"summary":"Activate an user","description":"","operationId":"activateUser","consumes":["application\/json"],"parameters":[{"name":"token","in":"path","description":"Token","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"\/users\/{token}\/activatecode\/resend":{"get":{"tags":["Users"],"summary":"Resend Activation Code to user","description":"","operationId":"resendActivationCode","consumes":["application\/json"],"parameters":[{"name":"token","in":"path","description":"Token","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"\/password_requests":{"post":{"tags":["Users"],"summary":"Generate a new password","description":"","operationId":"resetPassword","consumes":["application\/json"],"parameters":[{"name":"project_id","in":"formData","description":"Project id","required":true,"type":"integer"},{"name":"directory_id","in":"formData","description":"Directory id","required":true,"type":"integer"},{"name":"email","in":"formData","description":"Email of the user","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"404":{"description":"Resource not found"}}}},"\/users\/access_token\/{token}":{"get":{"tags":["Users"],"summary":"Get user by access token","description":"","operationId":"getUserByAccessToken","consumes":["application\/json"],"parameters":[{"name":"token","in":"path","description":"Token","required":true,"type":"string"}],"responses":{"200":{"description":"OK"}}}},"\/users\/{user_id}\/policies":{"get":{"tags":["Users"],"summary":"List all policies of an user by user id","description":"","operationId":"getListOfUserPolicies","consumes":["application\/json"],"parameters":[{"name":"user_id","in":"path","description":"User id","required":true,"type":"integer"},{"name":"controller","in":"query","description":"Filter by controller","type":"string"},{"name":"action","in":"query","description":"Filter by action","type":"string"},{"name":"rule_identifier","in":"query","description":"Filter by rule identifier","type":"string"},{"name":"scope","in":"query","description":"Filter by scope","type":"string"}],"responses":{"200":{"description":"OK"}}}},"\/users\/{user_id}\/3rd_token":{"get":{"tags":["Users"],"summary":"Get third party access token","description":"","operationId":"getThirdPartyTokenByUserId","consumes":["application\/json"],"parameters":[{"name":"user_id","in":"path","description":"Id","required":true,"type":"integer"}],"responses":{"200":{"description":"OK"}}}},"\/preferences\/{id}":{"get":{"tags":["User Preferences"],"summary":"Retrieve an user preference","description":"","operationId":"getUserPreferences","consumes":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Id","required":true,"type":"integer"}],"responses":{"200":{"description":"OK"},"404":{"description":"Resource not found"}}},"delete":{"tags":["User Preferences"],"summary":"Delete an user preference by id","description":"","operationId":"deleteUserPreferencesById","consumes":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Id of the user preference","required":true,"type":"integer"}],"responses":{"200":{"description":"OK"},"404":{"description":"Resource not found"}}}},"\/preferences":{"get":{"tags":["User Preferences"],"summary":"Retrive preferences of the user by user id and project id","operationId":"getUserPreferencesWithQueries","consumes":["application\/json"],"parameters":[{"name":"user_id","in":"query","description":"User Id","required":true,"type":"integer"},{"name":"project_id","in":"query","description":"Project Id","required":true,"type":"integer"}],"responses":{"200":{"description":"OK"},"404":{"description":"Resource not found"}}},"post":{"tags":["User Preferences"],"summary":"Create an user preference","description":"","operationId":"createUserPreferences","consumes":["application\/json"],"parameters":[{"name":"body","in":"body","description":"User Preference object in JSON format","required":false,"schema":{"$ref":"#\/definitions\/UserPreference"}}],"responses":{"201":{"description":"OK"},"400":{"description":"Bad request"},"404":{"description":"Resource not found"}}}},"\/preferences\/{user_id}\/project\/{project_id}":{"get":{"tags":["User Preferences"],"summary":"Retrive user preference by user id and project id","operationId":"getUserPreferencesWithPathParams","consumes":["application\/json"],"parameters":[{"name":"user_id","in":"path","description":"User Id","required":true,"type":"integer"},{"name":"project_id","in":"path","description":"Project Id","required":true,"type":"integer"}],"responses":{"200":{"description":"OK"},"404":{"description":"Resource not found"}}},"put":{"tags":["User Preferences"],"summary":"Update an user preference","description":"","operationId":"updateUserPreferences","consumes":["application\/json"],"parameters":[{"name":"user_id","in":"path","description":"User Id","required":true,"type":"integer"},{"name":"project_id","in":"path","description":"Project Id","required":true,"type":"integer"},{"name":"body","in":"body","description":"User Preference object in JSON format","required":false,"schema":{"$ref":"#\/definitions\/UserPreferenceUpdate"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"},"404":{"description":"Resource not found"}}},"delete":{"tags":["User Preferences"],"summary":"Delete an user preference by user id and project id","description":"","operationId":"deleteUserPreferencesByUserIdAndProjectId","consumes":["application\/json"],"parameters":[{"name":"user_id","in":"path","description":"User Id","required":true,"type":"integer"},{"name":"project_id","in":"path","description":"Project Id","required":true,"type":"integer"}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"},"404":{"description":"Resource not found"}}}},"\/registrations":{"get":{"tags":["User Registrations"],"summary":"List of all user registrations","operationId":"getListOfUserRegistrations","consumes":["application\/json"],"parameters":[{"name":"user_id","in":"query","description":"User Id","type":"integer"},{"name":"project_id","in":"query","description":"Project Id","type":"integer"},{"name":"email","in":"query","description":"Email","type":"string"},{"name":"application_id","in":"query","description":"Application Id","type":"integer"},{"name":"newsstand_id","in":"query","description":"Newsstand Id","type":"integer"},{"name":"platform_id","in":"query","description":"Platform Id","type":"integer"},{"name":"device_id","in":"query","description":"Device Id","type":"integer"},{"name":"source_account_id","in":"query","description":"Source Account Id","type":"integer"},{"name":"reference_id","in":"query","description":"Reference Id","type":"integer"},{"name":"legacy_identifier","in":"query","description":"Legacy Identifier","type":"string"},{"name":"status","in":"query","description":"Status","type":"integer"},{"name":"sort_by","in":"query","description":"Sort field","type":"string","enum":["id","status"]},{"name":"order_by","in":"query","description":"Sort direction","type":"string","enum":["asc","desc"]},{"name":"limit","in":"query","description":"An integer number to represents limit of records","type":"integer"},{"name":"offset","in":"query","description":"An integer number to represents offset [i] of records","type":"integer"}],"responses":{"200":{"description":"OK"}}},"post":{"tags":["User Registrations"],"summary":"Create an user registration","description":"","operationId":"createUserRegistration","consumes":["application\/json"],"parameters":[{"name":"body","in":"body","description":"User Registration object in JSON format","required":false,"schema":{"$ref":"#\/definitions\/UserRegistration"}}],"responses":{"201":{"description":"OK"},"400":{"description":"Bad request"},"404":{"description":"Resource not found"}}}},"\/registrations\/{id}":{"get":{"tags":["User Registrations"],"summary":"Retrieve an user registration","description":"","operationId":"getUserRegistration","consumes":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Id","required":true,"type":"integer"}],"responses":{"200":{"description":"OK"},"404":{"description":"Resource not found"}}},"put":{"tags":["User Registrations"],"summary":"Update an user registration","description":"","operationId":"updateUserRegistration","consumes":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Id of the user registration","required":true,"type":"integer"},{"name":"body","in":"body","description":"User Registration object in JSON format","required":false,"schema":{"$ref":"#\/definitions\/UserRegistration"}}],"responses":{"200":{"description":"OK"},"400":{"description":"Bad request"},"404":{"description":"Resource not found"}}},"delete":{"tags":["User Registrations"],"summary":"Delete an user registration","description":"","operationId":"deleteUserRegistration","consumes":["application\/json"],"parameters":[{"name":"id","in":"path","description":"Id of the user registration","required":true,"type":"integer"}],"responses":{"200":{"description":"OK"},"404":{"description":"Resource not found"}}}}},"definitions":{"User":{"required":["email","password"],"properties":{"directory_id":{"description":"Directory of the user","type":"integer"},"email":{"description":"Email","type":"string"},"password":{"description":"Password","type":"string"},"first_name":{"description":"First name","type":"string"},"last_name":{"description":"Last name","type":"string"},"created_by":{"description":"Created by","type":"integer"},"remote_identifier":{"description":"Remote identifier","type":"string"},"legacy_identifier":{"description":"Legacy identifier","type":"string"},"registration_status":{"description":"Status","type":"integer"},"created_by_type":{"description":"Type","type":"integer"},"country_code":{"description":"Country code","type":"string"},"internal_notes":{"description":"Internal notes","type":"string"}}},"UserPreference":{"required":["user_id","project_id"],"properties":{"user_id":{"description":"User Id","type":"integer"},"project_id":{"description":"Project Id","type":"integer"},"default_newsstand_id":{"description":"","type":"integer"},"default_locale_code":{"description":"","type":"string"},"default_currency_code":{"description":"","type":"string"},"default_max_content_rating":{"description":"","type":"integer"},"allow_adult_content":{"description":"","type":"boolean"},"opt_out_all":{"description":"","type":"boolean"},"opt_out_delivery_notifications":{"description":"","type":"boolean"},"opt_out_third_party":{"description":"","type":"boolean"},"opt_out_marketing":{"description":"","type":"boolean"},"preferred_email_format":{"description":"","type":"string"},"email_status":{"description":"","type":"boolean"},"created_by":{"description":"","type":"integer"},"status":{"description":"","type":"integer"}}},"UserPreferenceUpdate":{"properties":{"default_newsstand_id":{"description":"","type":"integer"},"default_locale_code":{"description":"","type":"string"},"default_currency_code":{"description":"","type":"string"},"default_max_content_rating":{"description":"","type":"integer"},"allow_adult_content":{"description":"","type":"boolean"},"opt_out_all":{"description":"","type":"boolean"},"opt_out_delivery_notifications":{"description":"","type":"boolean"},"opt_out_third_party":{"description":"","type":"boolean"},"opt_out_marketing":{"description":"","type":"boolean"},"preferred_email_format":{"description":"","type":"string"},"email_status":{"description":"","type":"boolean"},"created_by":{"description":"","type":"integer"},"modified_by":{"description":"","type":"integer"},"status":{"description":"","type":"integer"}}},"UserRegistration":{"required":["user_id"],"properties":{"user_id":{"description":"User Id","type":"integer"},"email":{"description":"Email","type":"string"},"project_id":{"description":"Project Id","type":"integer"},"application_id":{"description":"Application Id","type":"integer"},"newsstand_id":{"description":"Newsstand Id","type":"integer"},"platform_id":{"description":"Platform Id","type":"integer"},"device_id":{"description":"Device Id","type":"integer"},"source_account_id":{"description":"Source Account Id","type":"integer"},"reference_id":{"description":"Reference Id","type":"integer"},"legacy_identifier":{"description":"Legacy identifier","type":"string"},"created_by":{"description":"Created by","type":"integer"},"status":{"description":"Status","type":"integer"}}}},"tags":[{"name":"Users","description":""},{"name":"User Preferences","description":""},{"name":"User Registrations","description":""}]}